w#txt_p{
    color: brown;
    /*bg-co:*/
    background-color: aliceblue;
    /*
    color:yellow;
    color: rgb(255,255,0);
    colo: rgba(255,255,0, 1);
    color: #rrggbb;
    color: #ff0;
    color:#ffff00; 
    color: rgb(0,0,0) ;
     color: rgb(255,255,255) ;
     /*
    m:10
    */
    margin: 10px;
    /*margin: top right bottom left;*/
    /*m10-20; 
    margin: 10px 20px;*/
    /*p5 */
    /* padding: 6px; */
}

    /* =============cw4=============== */
    body{
        background-color:red ;
        color:beige ;
        font-family: Verdana,Tahoma,Arial;
        font-size: 1.25em;
        font-weight: 100;
        font-style: italic;
    
       
     } 

     /* fonts.google.com */
      /*    font-family: 'Indie Flower', cursive;

            font-family: 'New Tegomin', serif; */
            /* @import url("./fonty/dancingScript.ttf"); */
            #txt{
                height: 200px;
                width: 300px;


            }
            

  